mnist.json

dataset/
dataset_augmented/
dataset_augmented2/
dataset_*/
*_dataset_*/
*_dataset
synthetic_ocr_dataset_advanced/
synthetic_ocr_dataset_final/
*.zip

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

Label Studio/